---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import CTA from '~/components/widgets/CTA.astro';
import Video from '~/components/widgets/Video.astro';

const metadata = {
  title: 'AH SEO Agencia de Marketing León',
  ignoreTitleTemplate: true,
  description:
    'Te cobro tanto -> Te hago ganar tanto al mes -> No me necesitas para mantenerlo. Gto por contrato. Agencia de Marketing Digital en León.',
  robots: {
    index: true, // Establece la página para indexación
    follow: true, // Permite seguir los enlaces de la página
  },
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->
  <Steps2
    title="AH SEO Agencia de Marketing León"
    subtitle="Te lo digo en cristiano, atiende estos 3 puntos:"
    items={[
      {
        title: 'Todo bien clarito.',
        description: 'Te cobro tanto -> Te hago ganar tanto al mes -> No me necesitas para mantenerlo.',
      },
      {
        title: 'Garantizado por contrato.',
        description:
          'O no trabajamos. Yo el dinero lo gano cuando pasamos al siguiente nivel. Cuando veas los precios de los programas entenderás esto que te acabo de decir.',
      },
      {
        title: 'No, no te hace falta publicar en redes sociales todos los días.',
        description: 'Seguramente ni siquiera sea abrirte las redes lo primero que tienes que hacer.',
      },
    ]}
  />
  <!-- Pricing Widget ******************* -->
  <Pricing
    id="precios"
    title="Los 3 programas de nuestra agencia de marketing digital"
    prices={[
      {
        title: 'Initium',
        subtitle: 'Te llevo a 8.000€ al mes.',
        price: 3500,
        period: 'Impuestos incluidos',
        items: [
          {
            description: 'Eso serían unos 100.000€ al año, el primer nivel de escala de cualquier negocio.',
          },
          {
            description:
              'Son brutos, evidentemente. Te quedará un sueldo de unos 2.000€ a 3.000€ en tu bolsillo, depende de a qué te dediques, pero nunca menos de eso.',
          },
          {
            description: 'Trabajamos hasta que lleguemos a esa cifra, no hay mensualidades, es precio fijo.',
          },
          {
            description:
              'No debería hacer falta decirlo, pero lógicamente es por contrato. Si no cumplo te devuelvo el dinero.',
          },
          {
            description:
              'No va a pasar porque si no veo que puedo llegar sin problema, no te cojo como cliente y no pasa nada. Obviamente no es para todo el mundo.',
          },
        ],
        callToAction: {
          text: 'Haz el formulario para ver tu caso.',
        },
      },
      {
        title: 'Momentum',
        subtitle: 'Te llevo a 40.000€ al mes.',
        price: 10000,
        period: 'Impuestos incluidos',
        items: [
          {
            description: 'Eso serían unos 500.000€ al año, el segundo nivel de escala.',
          },
          {
            description:
              'El sueldo dependerá de a lo que te dediques y el ritmo de crecimiento que quieras tener. Si quieres llegar rápido al tercer programa, tendrás que tener un sueldo normal. Si quieres tener ya buena vida, habrá que ir más lento. Aquí tú decides. Para ser rico de verdad hay que pasar Apicem.',
          },
          {
            description: 'Trabajamos hasta que lleguemos a esa cifra, no hay mensualidades, es precio fijo.',
          },
          {
            description: 'Por contrato, lógicamente.',
          },
          {
            description:
              'Si veo que no puedo llevarte tan lejos, te lo digo sin problema. Los que empiezan en Initium y pueden escalar a Momentum llegan todos.',
          },
        ],
        callToAction: {
          text: 'Haz el formulario para ver tu caso.',
        },
        hasRibbon: true,
        ribbonTitle: 'Llegan todos',
      },
      {
        title: 'Apicem',
        subtitle: 'Te llevo a 250.000€ al mes.',
        price: 50000,
        period: 'Impuestos incluidos',
        items: [
          {
            description: 'Eso serían 3 millones de € al año, el tercer nivel de escala.',
          },
          {
            description: 'Aquí ya podrás bajarte un muy buen sueldo.',
          },
          {
            description: 'Trabajamos hasta que lleguemos a esa cifra, no hay mensualidades, es precio fijo.',
          },
          {
            description: 'Por contrato.',
          },
          {
            description:
              'Si no llego te lo digo y no firmamos. A este nivel ya hay muchos negocios que no pueden llegar a no ser que cumplan una serie de características y la ambición del fundador esté a la altura de lo que se requiere para superar esta barrera.',
          },
        ],
        callToAction: {
          text: 'Haz el formulario para ver tu caso.',
          variant: 'secondary',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent"></div>
    </Fragment>
  </Pricing>

  <Features2
    title="Es difícil, claro. Muy difícil."
    subtitle="13 años tardé (fíjate si es difícil) en darme cuenta de que el dinero está en hacerlo exactamente como te lo cuento en este vídeo."
    classes={{
      container: '!pb-0', // Añade esta línea para eliminar el padding-bottom
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent sm:dark:bg-[rgba(0,0,0,0.5)]"></div>
    </Fragment>
  </Features2>
  <Video />
  <CTA
    actions={[
      {
        variant: 'secondary',
        text: 'Haz el formulario para ver tu caso',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent sm:dark:bg-[rgba(0,0,0,0.5)]"></div>
    </Fragment></CTA
  >
  <Features2
    title="Y es tan simple, que no fácil, que sólo hay que obsesionarse con 2 cosas."
    subtitle="2 cosas que YA SABES pero no estás aplicando."
    columns={2}
    items={[
      {
        title: 'Valor medio de pedido en primera compra',
        description:
          'Esto es, cuanto mayor sea la cantidad que te paga de primeras un nuevo cliente, más capacidad de financiación tienes para "comprar" nuevos clientes. En el vídeo te explico lo que es, cómo aumentarlo y cómo usarlo para adquirir clientes cuando los necesites.',
        icon: 'tabler:coin-euro',
      },
      {
        title: 'Valor medio de un cliente a lo largo de toda su vida.',
        description:
          'Es decir, la rentabilidad media que te deja un cliente después de todas las veces que te ha comprado/recomendado a lo largo de su vida. Aquí está la magia y la mayoría no tiene un plan para llevar esto al extremo. Sólo piensan en "nuevos clientes" y no en rentabilizar a cada uno como si les fuese la vida en ello. Pero es que las dos cosas van unidas: clientes fieles = más clientes.',
        icon: 'tabler:pokeball',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent dark:bg-[rgba(0,0,0,0.5)]"></div>
    </Fragment>
  </Features2>
  <FAQs
    id="faq"
    title="Preguntas que quizás te estás haciendo"
    subtitle=""
    items={[
      {
        title: '¿Cómo llegas a esas cantidades?',
        description:
          'Mira el vídeo porque ahí te lo cuento con pelos y señales. Literalmente es lo que hago cuando me contratan paso por paso. Lo puedes hacer sin mi ayuda. Si te pones y quieres de verdad, puedes. Con ella te lo cuento aplicado a tu caso y además lo implemento yo.',
      },
      {
        title: '¿En cuánto tiempo se consigue el resultado de cada uno de los programas?',
        description:
          'Lento si no aplicas lo que cuento en el vídeo. Quiero decir que hay más formas de hacerlo, pero te garantizo que yo las he aplicado todas (seguro) y he tardado hasta 4 años en hacerme un sueldo digno con mi primer negocio. Esa es la que tengo comprobado que funciona SEGURO y en menos tiempo. El tiempo estimado si empiezas desde el nivel 0 de facturación de un programa hasta que se cumple es de 1 año.',
      },
      {
        title: '¿Tengo que trabajar más de lo que ya trabajo?',
        description:
          'No creo. Esto es hacer solamente lo que funciona y quitar lo que no funciona. Es más estrategia que ejecución.',
      },
      {
        title: '¿Y dices que garantizas por contrato que llego?',
        description:
          'Sí, porque si no estoy 200% seguro no te acepto como cliente. Prefiero perder una venta a tener un cliente insatisfecho.',
      },
      {
        title: '¿Vale para mi caso?',
        description:
          'Salvo que vivas en una comuna hippie, donde el dinero no es la moneda de cambio... sí, vale para tu caso. Unos sectores son más chollo que otros, pero en general todo depende de cómo seas tú. Cuando digo que si no puedo garantizar el resultado no cojo el cliente me refiero a que el cliente no es la persona adecuada para llevar ese negocio. No depende nunca del tipo de negocio.',
      },
      {
        title: 'Mi cliente es distinto (y mira mucho el precio).',
        description: 'Si le vendes sólo a zurdos pelirrojos te lo compro.',
      },
      {
        title: 'Mi competencia hace X y le va súper bien. Yo lo hago y no me funciona.',
        description:
          'Porque sus números y los tuyos son distintos. Las 2 variables (valor medio de pedido y valor medio de cliente) no las trabajáis igual, eso seguro. Sólo eso ya hace que ellos jueguen con otras reglas. La buena noticia es que puedes conseguir que sean las tuyas también.',
      },
      {
        title: '¿Si fuera tan fácil por qué no montas tú mi negocio y lo haces?',
        description: 'Porque cada uno somos expertos en lo nuestro. Para mí, seguro que lo tuyo no es fácil.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent dark:bg-[rgba(0,0,0,0.7)]"></div>
    </Fragment>
  </FAQs>

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Haz el formulario para ver tu caso',
      },
    ]}
  >
    <Fragment slot="subtitle"
      ><div class="dark:color:white">
        Si quieres saber cómo aplicar esto a tu caso, rellena el formulario. No escatimes en detalles y podré echarte
        una mano. En mi respuesta te llevas garantizado algo que puedes aplicar ya, trabajemos juntos o no. Si escatimas
        en detalles no responderé.
      </div></Fragment
    >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent dark:bg-[rgba(0,0,0,0.7)]"></div>
    </Fragment>
  </CallToAction>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Recomendaciones para contratar"
    title="Si estás haciendo una comparativa de agencias de marketing en León"
    subtitle="Si vas a pedir presupuesto a otras agencias, tienes que fijarte en:"
    items={[
      {
        title: 'Que no te haga falta pedir presupuesto.',
        description:
          'Lo siento, esta estaba a huevo. A lo mejor a ti te da confianza que te pongan el precio en función de la cara que lleves y el tamaño de tu cartera, a mí desde luego ninguna. Si un cliente no puede pagarme o no puedo conseguirle la promesa de los programas, no lo cojo y no pasa nada. Si el precio es el problema, seguramente ya te he espantado y eso significa que me he quitado de encima un cliente que no quiero tener sin necesidad de reunirme.',
        icon: 'tabler:coin-euro',
      },
      {
        title: 'Ten muy claros tus objetivos.',
        description:
          'Que sean concretos. Cifras, números, dinero. Si pides presupuesto a una empresa y estás a verlas venir, te dirán que te hacen esto y lo otro y que a cambio te consiguen clientes. ¿Cuántos? Te dirán que eso no se sabe, jaja. El marketing va de hacer dinero, no de "hacer redes sociales".',
        icon: 'tabler:components',
      },
      {
        title: 'Las “mensualidades” y las permanencias.',
        description:
          'Para mí es lo mismo que el punto anterior. Si puedes prometer un resultado puedes cobrar un precio fijo exacto por ese resultado. Todo lo demás es "a ver cuánto soy capaz de sacarle". Nadie salva negocios por 300€ al mes. Si tienes esa habilidad y cobras eso es que NO tienes esa habilidad.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Si te dicen que bajes los precios o hagas descuentos y promociones.',
        description:
          'Coño, ¿a eso no llegas tú también? Si una agencia te dice eso es que son unos paquetes. Sabes tú más de marketing que ellos.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Las webs no tienen que ser bonitas. TIENEN QUE VENDER.',
        description:
          'Vamos con una que escuece, no mates al mensajero. Las webs bonitas inflan tu ego pero al cliente le da absolutamente igual. Nadie va a venir a tu negocio a decirte "¡qué bonita es tu web!". En ese caso en concreto, no vendrían. O vienen a comprar o no vienen.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'En redes sociales no hay que postear todos los días.',
        description:
          'Publicar todos los días sin que suban los seguidores y sin que nadie te compre… ¿qué sentido tiene? Además que yo lo siento, las redes no se pueden delegar porque tienes que exponerte tú. Si tú no conectas con tu audiencia, ¿cómo pretendes que se conviertan en clientes? Lo que sí puedes hacer es contratar una consultoría de redes sociales y que una persona que haya conseguido escalar cuentas de redes sociales de verdad, con resultados, te mentorice y te acompañe en el proceso. Siempre con promesa de resultados, como todo.',
        icon: 'tabler:bulb',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent dark:bg-[rgba(0,0,0,0.7)]"></div>
    </Fragment>
  </Features>

  <CTA
    actions={[
      {
        variant: 'secondary',
        text: 'Haz el formulario para ver tu caso',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent sm:dark:bg-[rgba(0,0,0,0.5)]"></div>
    </Fragment></CTA
  >

  <!-- Steps Widget ****************** -->

  <Steps
    title="¿Cómo funciona el servicio de agencia de marketing online?"
    items={[
      {
        title: 'Fase 1: <span class="font-medium">Respuesta al formulario.</span>',
        description:
          'Una vez que rellenes el formulario, te responderé si no parece un telegrama, veré tu negocio y te diré si podemos continuar o no. En caso negativo, te daré la mejor guía posible adaptada 100% a tu caso en el email de respuesta.',
        icon: 'tabler:package',
      },
      {
        title: 'Fase 2: <span class="font-medium">Análisis y asesoría.</span>',
        description:
          'En caso de poder seguir adelante, te enviaré un enlace para que tengamos una videollamada. Esto no garantiza que te pueda decir que sí trabajamos juntos. Lo único que te puedo garantizar en este punto es que tu negocio puede llegar seguro, ahora sólo falta que tú seas la persona adecuada para hacerlo. Lo veré en esta fase. En cualquier caso te llevas todo lo que cuento en el vídeo 100% aplicado a tu caso, y puedes preguntarme lo que quieras.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Fase 3: <span class="font-medium">Entras en el programa correspondiente a tu volumen de negocio</span>',
        description:
          'En la fase 2 te digo todo lo que tenemos que hacer y en esta lo implementamos. Firmamos contrato, haces el pago y trabajamos hasta superar el programa.',
        icon: 'tabler:paint',
      },
      {
        title: 'Superamos el programa y pasamos al siguiente.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Fases para contratar agencia de marketing',
    }}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-transparent sm:dark:bg-[rgba(0,0,0,0.5)]"></div>
    </Fragment>
  </Steps>

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'secondary',
        text: 'Hacer el formulario',
      },
    ]}
  >
    <Fragment slot="subtitle">
      <ul>
        <li>
          Tanto si tu objetivo es el diseño web como si no lo es, seguramente haya que cambiar tu web. Vamos, seguro no,
          casi 100% seguro, como mínimo los textos, aunque respetemos el diseño.
        </li>
        <br />
        <li>
          Todas las agencias de marketing hacen diseño web (lo de webs que vendan ya tal...), es el pilar de la gran
          mayoría de formas de vender por internet. Sin una web que venda lo demás no funciona.
        </li>
        <br />
        <li>
          Así que tanto si trabajas con AH SEO como si lo haces con otra agencia, la web siempre debería estar incluida.
        </li>
      </ul>
    </Fragment>
  </CallToAction>
</Layout>
